@charset "UTF-8";
/*** BSP: @extend %reset;***/
/*** Mixins & Placeholders ***/
/**** caret ****/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/******* SVG *********/
/*** WP Specials ***/
/**** Filter ****/
/*** typography***/
/* Mediaqueries breakpoints */
/* Helper Classes */
/*@import "bourbon";*/
/* =============================================================================
   Colors
   ========================================================================== */
/* =============================================================================
   Typography
   ========================================================================== */
/* Margins & Paddings */
/*
@import 'utils/_mixins';
@import 'utils/_icons';
@import 'utils/_preloader';
@import 'base/_ui';
@import 'base/_media';

@import 'base/_grid';*/
/* =============================================================================
   Basics
   ========================================================================== */
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto; }

html, body, button, input, select, textarea {
  font-family: "Muli", sans-serif;
  color: #333; }

::-moz-selection {
  text-shadow: none;
  background: #159EE5;
  background-image: none !important;
  color: #fff; }

::selection {
  text-shadow: none;
  background: #159EE5;
  background-image: none !important;
  color: #fff; }

.element::-moz-selection {
  background-color: #ffbb52; }
.element::selection {
  background-color: #ffbb52; }

body {
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; }

a, a:link {
  text-decoration: none;
  cursor: pointer; }
a:visited {
  opacity: .5; }
a:visited, a:hover {
  text-decoration: none !important; }
a.external:after {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 0;
  opacity: 1;
  margin-left: 0.5em;
  font-size: 0.8em; }
#comments a, .post-details a {
  color: #FF77A5 !important; }

h1, h2, h3, h4, legend, .number, .widgettitle {
  line-height: 1.1;
  color: #333; }
  h1.logo, h2.logo, h3.logo, h4.logo, legend.logo, .number.logo, .widgettitle.logo {
    margin: 2em 0 .5em 0; }
  h1 a, h2 a, h3 a, h4 a, legend a, .number a, .widgettitle a {
    text-decoration: none;
    color: #159EE5; }

h1 {
  font-size: 21px;
  line-height: 1;
  color: #000; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2em; } }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 2em; }
      .content > h1:first-child {
        margin-top: 56px;
        font-size: 1.2em;
        padding: 0 28px;
        font-weight: bold; } }

h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 2em; }

h3 {
  font-size: 16.8px;
  margin-bottom: 1em; }

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .12em; }
  h1 .subline, h2 .subline, h3 .subline {
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0em; }
  h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none;
    cursor: pointer; }

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1.2em; }

legend border {
  width: 1px 0 0 0;
  style: solid;
  color: #ccc;
  margin-top: 1em; }

p {
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%; }

a {
  color: #159EE5; }
  .page-template-template-maintenance a.post-edit-link {
    margin-top: 10vH;
    display: block; }
  a.post-edit-link:before {
    font-family: 'FontAwesome';
    content: "";
    padding-right: 1em;
    opacity: 1;
    margin-left: 0;
    font-size: 1em; }

ul,
ol {
  padding-left: 1.5rem; }
  ul li,
  ol li {
    line-height: 150%; }

dl {
  margin: 0 0 1rem;
  line-height: 150%; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 0.5rem; }

b, .bold, strong {
  font-weight: bold; }

p {
  font-size: 1em; }

blockquote {
  position: relative;
  margin: 1.5rem 1rem 1.5rem 3rem;
  text-align: left; }
  blockquote:before {
    content: "“";
    display: block;
    position: absolute;
    top: -1rem;
    left: -3rem;
    color: #737373;
    font-size: 5rem;
    line-height: 1; }

address {
  font-style: normal; }
  .footer address p {
    margin-bottom: 0.2rem;
    font-size: .8rem; }
  .footer address > div {
    margin-bottom: 0.5rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #737373; }

.text-smaller {
  font-size: smaller; }

.uppercase {
  text-transform: uppercase; }

/*** tables ****/
table {
  width: 100%;
  margin-bottom: 2em; }
  table th {
    text-align: left;
    font-size: larger; }
  table tr:nth-child(odd) td {
    background: #ebebeb; }

/**** Misc ***/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/* Kleinerer Text */
.s {
  font-size: 0.9em; }

@media screen and (min-width: 480px) {
  .lead, blockquote p {
    font-size: 1.143em;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 1.857em; }
    article.banner .lead, article.banner blockquote p, blockquote article.banner p, .banner-caption .lead, .banner-caption blockquote p, blockquote .banner-caption p {
      margin-bottom: 1em; }
    .panel .lead, .panel blockquote p, blockquote .panel p {
      font-size: 1em; } }

/*@import 'base/_globals';
@import 'base/_layout';

@import 'modules/_maintenance';
@import 'modules/_navigation';
@import 'base/_content';
@import 'base/_media';
@import 'base/_forms';

@import 'base/_maps';

@import 'modules/_carousel';
@import 'modules/_banner';
@import 'modules/_panels';
@import 'modules/_accordions';
@import 'modules/_events';
@import 'modules/_infographic';*/
/*
@import 'modules/_widgets';
@import 'modules/_posts';*/
.top-border {
  height: .5em;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .top-border > div {
    -webkit-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%; }
  .top-border .blue {
    background: #159EE5; }
  .top-border .yellow {
    background: #FF9A34; }
  .top-border .pink {
    background: #FF77A5; }
  .top-border .green {
    background: #00B470; }

.navbar-brand {
  background: transparent url(../img/logo.png) no-repeat center center;
  background-size: contain;
  min-width: 300px; }
  .navbar-brand span {
    display: block;
    text-indent: -9999999px; }

body > header {
  min-height: 70vH;
  background: transparent url(../img/myles-tan-84040.jpg) no-repeat;
  background-size: cover; }
  body > header [class*="col-"] {
    padding: 40vH 3em 12vH 3em; }

section {
  padding: 8em 0; }

/*** Typo ***/
.hero .claim, .hero .claim * {
  color: white; }

.card-body {
  padding: 1em 2em; }

/*# sourceMappingURL=screen.css.map */
