[id*="carousel"]{
    .justify-content-between {
        margin:0 -1em;
        > *{
            margin:0 1em;
        } 
    }
    [class*="carousel-control"]{   
        width:40px;
        font-size:40px;
        z-index:999;
        @include category-color;
        [class*="icon"]{
            font-size:inherit;
            color:inherit;
        }
    }
    .carousel-control-prev{
        left:-40px;
    }
    .carousel-control-next{
        right:-40px;
    }
    .carousel-indicators{
        z-index:999;
        li {
            @include size(30px);
        }
    }
    
}