.btn:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.btn:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active{
    outline: none;
}
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"]{
    margin:0 .5em;
    @include button-style (2em, 1em, 1em);
    background:$brand-primary;
    color:$white;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="confirm_email"],
input[type="number"],
input[type="tel"],
textarea,
select { 
    background-color: $body-bg !important;
    @include border-radius(0);
    border:1px solid $border-color;
    padding: 2% 5%; 
/*    @media screen and (max-width:$screen-xs){
        width:100%;
    }
    @media screen and (min-device-width:$screen-sm + 1) and (orientation:portrait){
        width: 90%;_NO__DOTCOMMA__AFTER__ 

    }*/
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    @include appearance(none);
    margin: 0; 
}
input[type=number] {@include appearance(textfield);}
select {
    body:not(.ie) &{
           @include appearance(none);
    line-height:20px;
    background-image:url('../img/bg-select.png');
    background-position: 98% 50%;
    background-repeat: no-repeat; 
/*    width:100%; */
    }

}
textarea {
    max-height: 120px;
    overflow: auto;
    resize: vertical;
}
label{
    font-weight:400;
    display:block;
    .form-group &.has-icons{
        width:2em;
        span{
            @include text-indent;
        } 
    }
}

.form-inline{
        @media screen and (max-width:$screen-xs){
            margin-top:2em;
        }
    }
    .form-control{
    @media screen and (max-width:$screen-sm - 1){
        width:80%;
    }
}
.input-group{
    margin:1em 0; 
}