body{
    .top-fold{
        padding-top:75px;
        @media screen and (min-width:$screen-sm) and (max-width:1919px){
              background:transparent url(../img/kinder1.jpg) no-repeat 50% 0%;
              background-size:cover;
        }
        @media screen and (min-width:1920px){
              background:transparent url(../img/kinder1.jpg) no-repeat top left;
              background-size:cover;
        }
        

        .hero {
/*            @media screen and (min-width:$screen-sm){
                @include gradient-overlay;
            }
           
            @media screen and (max-width:$screen-sm - 1){
                padding-top:100px;
            }*/
            @media screen and (min-width:$screen-sm){
                min-height: 55vH;
                padding-bottom: 15vH;
                .claim , .claim *{
                    color:white;
                }
                h1 {
                    @include white-logo(60px);
                } 
            }
            
        }
    }
    > footer {
        background: $green;
        position:relative;
        *{
            color:lighten($blue,100%)
        }
        .about h3 {
        @include white-logo(40px);
    }
    }
}
.container-fluid{
    max-width: 1170px;
    margin:0 auto;
}