body{
    > header{
        
        @media screen and (min-width:$screen-sm) and (max-width:1919px){
              background:transparent url(../img/kinder1.jpg) no-repeat 50% 0%;
              background-size:cover;
        }
        @media screen and (min-width:1920px){
              background:transparent url(../img/kinder1.jpg) no-repeat top left;
              background-size:cover;
        }
      
        position:relative;

        .hero {
            @media screen and (min-width:$screen-sm){
                @include gradient-overlay;
            }
           
            @media screen and (max-width:$screen-sm - 1){
                padding-top:100px;
            }
            @media screen and (min-width:$screen-sm){
                min-height: 75vH;
                padding-bottom: 5vH;
                .claim , .claim *{
                    color:white;
                }
                h1 {
                    @include white-logo(60px);
                } 
            }
            
        }
    }
    > footer {
        background: $blue;
        *{
            color:lighten($blue,100%)
        }
    }
}
.container-fluid{
    max-width: 1170px;
    margin:0 auto;
}
