body{
    > header{
        background:transparent url(../img/andre-hunter-107089.jpg) no-repeat 100% 25%;
        background-size:cover;
        position:relative;

        .hero {
            min-height: 100vH;
            padding-bottom: 5vH;
            .claim , .claim *{
                color:white;
            }
            h1 {
                @include white-logo(60px);
            }
        }
    }
    > footer {
        background: $blue;
        *{
            color:lighten($blue,100%)
        }
    }
}
.container-fluid{
    max-width: 1170px;
    margin:0 auto;
}
body>header{

}