/* =============================================================================
   Basics
   ========================================================================== */

html { font-size: 62.5%; -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto;}

html, body, button, input, select, textarea { 
    font-family:$body-font-family;
    color: $text-color; }

::-moz-selection { 
    text-shadow: none;
}
::selection { 
    text-shadow: none;
}
body {
    text-rendering: optimizeLegibility;
    font-size:$rem-base;
    font-weight:400;
    line-height: $base-line-height;
}
a {
    &,&:link { 
        text-decoration: none;
        cursor:pointer;
        color:inherit;
    }

    &:visited{
        opacity:.5;
    }
    &:visited, &:hover { 
        text-decoration: none !important;
    }
    &.external:after{
        @include icon-style ("\f08e", 0, 1, .5em, .8em);
    }
}
h1,h2,h3,h4{
    line-height: 1.1;
    color: $heading-text-color;
    font-family:$headings-font-family;
    text-transform: uppercase;
    font-weight:600;
    a{
        text-decoration: none;
        color: inherit;
    }
}
h1{}
h2 {
    main &{
        font-size: 2.5rem;
        margin-bottom: 2em;
    }
    .text-center &{
        margin:3em 0 1.4em 0;
    }
}
h3 {
    main &{
        margin-bottom: 1em;
    }
}
h4{}
h5,h6{
    display: inline-block;
    &.category{
        &:after{
            content:'';
            display: block;
            width:150%;
            height:.3rem;
            margin:.5em 0 1em 0;
        }
        .cat-event &:after{
            background-color: $blue;
        }
        .cat-name &:after{
            background-color: $yellow;
        }
        .cat-knowledge &:after{
            background-color: $pink;
        }
        .cat-slogan &:after{
            background-color: $green;
        }
    }
}

p, span{
    color:inherit;
}