/** navigation ***/
.navbar-brand{
    &.bg-image{
        display: inline-block;
        padding:0;
        font-size:0;
        line-height: 0;
    }
    background: transparent url(../img/logo.png) no-repeat left bottom;
    min-height:50px;
    min-width:250px;
    background-size:contain;
    @media screen and (min-width:768px)and (max-width:992px){
        min-width:50px;
        background-size:auto 70%;
    }
    span {
        display:block;
        text-indent:-9999999px;
    }
}
.nav-link{
    margin-bottom: -.5em;
    padding-bottom: 0;
    .navbar-nav &{
        font-weight:700;
        text-transform:uppercase;
        color:$text-color; 
    }
}
.navbar-nav{
    #top-nav &{
        margin-bottom:-1em;
    }
}
.nav-item{
    .navbar-nav &{
        position:relative;
        margin:0 .5em;
        &:after{
            content:'';
            margin-top:.8em;
            display:block;
            height:.2em;
        }
        &:hover{
            &:after{
                background:$blue;
                width:100;
                @include transition(all 200ms ease-out);
            }
        }
    }
}
.dropdown-menu{
    font-size:inherit;
}